.add-course-content {
  display: flex;
  padding: 2em;
}

.add-course-card {
  margin: auto;
  width: 30%;
}

.add-button-holder {
  display: flex;
  justify-content: right;
}

@media screen and (max-width: 1200px) {
  .add-course-card {
    width: 50%;
  }
}


@media screen and (max-width: 1000px) {
  .add-course-card {
    width: 100%;
  }
}

