header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  height: 3em;
  background-color: #0226dd !important;
}

header img,
footer img {
  width: 15em;
}

header input {
  width: 50%;
  margin: 2em;
  border-radius: 1em;
  border: none;
  padding: 1em;
}

header button {
  margin: 0.5em;
}

.ant-layout-header {
  line-height: 0;
}

.header-button-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
